[submodule "hangman/Hangman"]
	path = hangman/Hangman
	url = https://github.com/therealjamesmichael/Hangman
[submodule "Hangman"]
	path = Hangman
	url = https://github.com/therealjamesmichael/Hangman
[submodule "portion-calculator"]
	path = portion-calculator
	url = https://github.com/therealjamesmichael/portion-calculator
[submodule "hangman-game"]
	path = hangman-game
	url = https://github.com/therealjamesmichael/hangman-game
