* {
	padding: 0;
	margin: 0px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #333;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

body {
	background-color: #fff;
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.show-page {
	display: contents !important;
}

nav {
	position: absolute;
	top: 0;
	width: 100%;
	height: 40px;
	background: #fcfcfc;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	border-bottom: #ededed solid 1px;
	
}

nav .quit {
	display: none;
}
nav ul {
	list-style-type: none;
}

nav ul li {
	
	font-weight: bold;
	margin: auto 0px;
	padding: 5px 10px;
	margin: 0 5px;
}

nav ul .nav-btn {
	color: #333;
}

nav ul .nav-btn:hover {
	background: #989898;
	color: #fcfcfc;
	border-radius: 7px;
}

nav ul .nev-btn:active {
	background: #b1b1b1;
}

nav .nav-bar {
	justify-self: center;
	display: flex;
	flex-direction: row;
}

nav .nav-bar ul {
	padding: 5px 10px;
	display: flex;
	flex-direction: row;
}
nav .quit {
	justify-self: end;
}


nav .active-nav {
	opacity: 20%
}
.container {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.image-container {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;

	margin-bottom: 50px;
}
.image-container img {
	width: 350px;
}

.word-container {
	transform: translateY(-100px);
	transition: transform 1.5s ease-in-out;
	font-size: 6rem;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	cursor: context-menu;
	margin-bottom: 50px;
}

.word-container__move {
	transform: translateY(0px);
}

.letters-container .keyboard {
	display: grid;
	transform: translateY(+300px);
	transition: transform 1.5s ease-in-out;
	grid-template-columns: repeat(13, 1fr);
	grid-template-rows: repeat(2, 1fr);
	/* grid-template-areas: 'letter letter letter letter letter letter letter letter letter letter letter letter letter'
						 'letter letter letter letter letter letter letter letter letter letter letter letter letter'; */
	gap: 10px;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.letters-container .show-keyboard {
	transform: translateY(0px);
}

.letters-container .keyboard .letter {
	line-height: 65px;
	width: 70px;
	height: 70px;
	background: #fff;
	border: 2px #333333 solid;
	border-radius: 10px;
	font-size: 2.5rem;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.letters-container .keyboard .letter:hover {
	background: #f4f4f4;
}

.letters-container .keyboard .letter:active {
	transform: scale(1.1);
}

.letters-container .keyboard .letter-used {
	color: #f0f0f0;
	line-height: 65px;
	width: 70px;
	height: 70px;
	background: #fff;
	border: 2px #f0f0f0 solid;
	border-radius: 10px;
	font-size: 2.5rem;
	text-transform: uppercase;
}

menu .menu-box {
	justify-content: center;
	align-items: flex-start;
	display: none;
	background-color: #fff;
	position: absolute;
	top: 200px;
	left: 0;
	right: 0;
	margin: auto;
	height: 400px;
	width: 600px;
	padding: 25px;
	border-radius: 20px;
	z-index: 15;
}

menu .backdrop {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 75%;
}

.show {
	display: flex !important;
}

menu .menu-box .game-setup {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: bold;
}
menu .menu-box .game-setup h2 {
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 50px;
}

menu .menu-box .game-setup input {
	display: flex;
	text-align: center;
	width: 400px;
	height: 50px;
	border: #333333 solid 2px;
	font-size: 2rem;
	border-radius: 5px;
	outline: none;
	padding: 5px;
	margin-bottom: 20px;
	box-shadow: 2px 4px 4px 2px #888888;
	text-transform: uppercase;
}

menu .menu-box .game-setup input:focus {
	border: 3px solid #333333;
	background: #f9f9f9;
}

.close-input {
	width: 0px !important;
	transition: width 0.4s ease-in-out !important;
	box-shadow: 2px 4px 4px 2px #888888 !important;
}

menu .menu-box .game-setup p {
	font-size: 1.5rem;
}

menu .menu-box .game-setup div {
	display: flex;
	flex-direction: row;
}

menu .menu-box .game-setup .go {
	margin-left: 10px;
}

menu .menu-box .post-game {
	display: none;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-weight: bold;
}
menu .menu-box .post-game h2 {
	font-size: 2rem;
	text-transform: uppercase;
}

menu .menu-box .post-game .stats {
	margin-bottom: 20px;
}
menu .menu-box .post-game img {
	width: 350px;
	height: 200px;
	border: 2px solid #333;
	border-radius: 20px;
	margin-bottom: 10px;
}

menu .menu-box .post-game .post-game__nav {
	display: flex;
	flex-direction: row;
}

menu .menu-box .post-game .play-again {
	font-size: 1.5rem;
	margin-bottom: 10px;
}
menu .menu-box .post-game .answer {
	color: white;
	background: #333;
	font-size: 2rem;
	padding: 2px 10px 4px 2px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10px;
}

menu .menu-box .quit-menu {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: bold;
}

menu .menu-box .quit-menu h2 {
	margin-bottom: 20px;
}

menu .menu-box .quit-menu div {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
}



.btn-black {
	font-weight: bold;
	color: white;
	background: #333333;
	padding: 7px 30px;
	border: #333 solid 2px;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
}

.btn-black:active {
	transform: scale(1.05);
}

.btn-black:hover {
	/* background: #999;
	border: #999 solid 2px; */
	opacity: 40%;
}

.btn-white {
	font-weight: bold;
	color: #333;
	background: #fff;
	padding: 7px 30px;
	border: #333 solid 2px;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
}
.btn-white:active {
	transform: scale(1.05);
	border: #404040 solid 2px;
	color: #404040;
}

.btn-white:hover {
	/* background: #999;
	border: #999 solid 2px;
	color: #fff; */
	opacity: 40%;

}


.yes-btn {
	margin: 0 5px;
	font-size: 0.9rem;
	font-weight: bold;
	color: white;
	background: #333333;
	padding: 7px 30px;
	border: #333 solid 2px;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
}

.no-btn {
	margin: 0 5px;
	font-size: 0.9rem;
	font-weight: bold;
	color: #333;
	background: #fff;
	padding: 7px 30px;
	border: #333 solid 2px;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
}
.yes-btn:hover {
	background: #49b146;
	border: #49b146 solid 2px;
	color: #333;
}

.no-btn:hover {
	background: #ff4949;
	border: #ff4949 solid 2px;
	color: #fff;
}

.fade-out {
	opacity: 0%;
	transition: opacity 0.25s ease-in-out;
}

.fade-in {
	opacity: 100%;
	transition: opacity 0.25s ease-in-out;
}

.hvr-fade {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	overflow: hidden;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
  }
  .hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
	background-color: #2098D1;
	color: white;
  }

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

@media (max-width: 1118px) {
	.letters-container {
		grid-template-columns: repeat(8, 1fr);
	}
	menu .menu-box {
		top: 200px;
		left: 0;
		right: 0;
		margin: auto;
		height: 400px;
		width: 600px;
		padding: 25px;
	}
}

@media (max-width: 720px) {
	.container {
		margin-top: 0px;
	}

	.letters-container {
		position: absolute;
		bottom: 0;
		height: 40%;
		width: 100%;
		padding-top: 10px;
	}
	.letters-container .keyboard {
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(6, 1fr);
		display: grid;
		gap: 10px;
		justify-content: center;
		align-items: center;
		width: 60%;
	}

	.letters-container .keyboard .letter {
		line-height: 33px;
		width: 32px;
		height: 34px;
		border: 2px #434343 solid;
		border-radius: 7px;
		font-size: 1rem;
		font-weight: bold;
		margin: auto;
	}

	.letters-container .keyboard .letter-used {
		color: #f0f0f0;
		line-height: 33px;
		width: 32px;
		height: 34px;
		border: 2px #f0f0f0 solid;
		border-radius: 7px;
		font-size: 1rem;
		font-weight: bold;
		margin: auto;
	}
	menu .menu-box {
		position: absolute;
		top: 50px;
		height: 400px;
		width: 80%;
	}
	menu .menu-box .game-setup input {
		width: 100%;
	}

	.image-container {
		margin-bottom: 0px;
	}
	.image-container img {
		width: 200px;
	}

	menu .menu-box .post-game img {
		height: 80%;
		width: 80%;
	}
}

@keyframes fade-slide-in {
	from {
		transform: translateY(-5rem);
	}
	to {
		transform: translateY(0);
	}
}
