


/* Top left h1 */
h1 {
    font-weight: 100;
    /* opacity: 50%; */
}
.icon.style2 {
    color: #6F91C3;
    transition: 0.3s color ease;
}

.icon.major:hover {
    border: 2px solid #6F91C3;
}

a {
    border: none;
}


/* ======================= scroll-bar =============================== */
/* position absolute */
html {
    overflow-y: overlay;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #afafaf;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* ======================= Menu =============================== */
#menu {
    background: #6F91C3;
}

/* ======================= projects =============================== */
.two .content {
    padding: 0;
    font-size: .7rem;
}

.write-up {
    font-size: .7rem;
}

.tech-list {
    font-size: 0.5rem;
}
.project--nav {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}
.project--nav > *{
    margin: 0 1rem;
}



.chev-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(128, 128, 128, 0);
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    border: 3px solid rgba(128, 128, 128, 0.3);
    transition: .3s background  ease;
    
}

.view--icon {
    margin-right: 0.9rem;
}
.view-with-icon {
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.view-with-icon i {
    transition: 0.3s color ease;
    font-size: 2rem;
}

.view-with-icon:hover i {
    color: rgba(255, 255, 255, 1);

}
.view-with-icon p {
    font-size: 0.9rem;
    margin: 0;
}

.chevron:hover .chev-background    {
    border: 2px solid rgba(128, 128, 128, 0.3);
    background: rgba(128, 128, 128, 0.11);
}

.chevron i {
    font-size: 0.7rem;
    transform: translateX(1px);
}




.major .icon:hover {
    color: #99bbee;
}



/* ======================= Contact Form =============================== */
#contact {
    scroll-margin: calc(3em - 2px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    width: 100%;
    background: rgba(29, 36, 42, 0.9);;
}

#contact .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

#contact .row > div {
    margin-bottom: 1rem;
}

#contact .contact-submit {
    display: flex;
    width: 100%;
    justify-content: center;
}

#contact input[type="text"]:focus,
#contact textarea:focus {
    box-shadow: 0 0 0 2px #6F91C3;

}





/* ======================= Footer =============================== */

#footer {
    background: #392e43f2 !important;
}



