body {
  background: #003049 ;
}

/* Top left h1 */
h1 {
  font-weight: 100;
  /* opacity: 50%; */
}
.icon.style2 {
  color: #ffffff;
  transition: 0.3s color ease;
}

.icon.major:hover {
  border: 2px solid #6f91c3;
}

a {
  border: none;
}

/* ======================= scroll-bar =============================== */
/* position absolute */
html {
  overflow-y: overlay;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #afafaf;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.is-menu-visible {
  opacity: 1;
}

/* ======================= Menu =============================== */
#menu {
  background: #849DA7;
}

/* ======================= hero background =============================== */

#banner {
  height: calc(100vh + 2.5vw);
  overflow: visible;
}

body.is-mobile.landing #banner,
body.is-mobile.landing .wrapper.style4 {
  /* background: #db4343; */
  background: transparent;
}

#one {
  /* clip-path: polygon(0 0, 100% 2.5vw, 100% 100%, 0 100%); */
  clip-path: ellipse(114% 100% at 50% 100%);
  backdrop-filter: blur(7px);
    /* margin-top: -2.5vw; */
}
#banner .inner {
  margin-top: 10em;
}

/* overlay */
#banner:after {
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  -moz-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
  background: #fff;
}
/* Name */
#banner h2 {
  -moz-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -ms-transition-delay: 1s;
}

/* lines */
#banner h2:before,
#banner h2:after {
  -moz-transition-delay: 1.5s;
  -webkit-transition-delay: 1.5s;
  -ms-transition-delay: 1.5s;
  transition-delay: 1.5s;
}

/* job */
#banner .job {
  animation-delay: 2s;
}

.rotateXIn {
  animation-name: rotateXIn;
}
@keyframes rotateXIn {
  from {
    transform: perspective(600px) translate3d(0, -60px, -2000px) rotateX(75deg);
    opacity: 0;
  }
  5% {
    transform: perspective(600px) translate3d(0, -60px, -1500px) rotateX(75deg);
  }
}

/* ======================= projects =============================== */


/* ======================= projects =============================== */

.two .content {
  padding: 0;
  font-size: 0.7rem;
}


.spotlight .content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.write-up {
  font-size: 0.7rem;
}

.major .icon:hover  {
  opacity: 80%;
}

/* ======================= Contact Form =============================== */
#contact {
  scroll-margin: calc(3em - 2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3a3a3a;
  padding: 4rem 2rem;
  width: 100%;
  background: #dbe1e4;
  box-shadow: 0px 2px 10px 0px rgba(122,122,122,0.71) inset;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(122,122,122,0.71) inset;
  -moz-box-shadow: 0px 2px 10px 0px rgba(122,122,122,0.71) inset;
}

.contact-section h2 {
  color: #507082;
}

#contact .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

#contact .row > div {
  margin-bottom: 1rem;
}

#contact .contact-submit {
  display: flex;
  width: 100%;
  justify-content: center;
}

#contact input[type="text"]:focus,
#contact textarea:focus {
  box-shadow: 0 0 0 2px #6f91c3;
}

::-webkit-input-placeholder {
  color: #507082 !important;
  opacity: 1.0;
}

:-moz-placeholder {
  color: #507082 !important;
  opacity: 1.0;
}

::-moz-placeholder {
  color: #507082 !important;
  opacity: 1.0;
}

:-ms-input-placeholder {
  color: #507082 !important;
  opacity: 1.0;
}



/* ======================= Footer =============================== */

#footer {
  background: #013149 !important;
}



/* ======================= utilities =============================== */
.btn--light-blue {
  box-shadow:  inset 0 0 0 2px #507082 !important;
  color: #507082 !important;
}
/* ======================= FLEX =============================== */

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid-column {
  flex-direction: column;
}

/* Whole */
.one-whole {
  width: 100%;
}

/* Halves */
.one-half {
  width: 50%;
}

/* Thirds */
.one-third {
  width: 33.33333%;
}

.two-thirds {
  width: 66.66667%;
}

/* Quarters */
.one-quarter {
  width: 25%;
}

.two-quarters {
  width: 50%;
}

.three-quarters {
  width: 75%;
}

/* Fifths */
.one-fifth {
  width: 20%;
}

.two-fifths {
  width: 40%;
}

.three-fifths {
  width: 60%;
}

.four-fifths {
  width: 80%;
}

/* Sixths */
.one-sixth {
  width: 16.66667%;
}

.two-sixths {
  width: 33.33333%;
}

.three-sixths {
  width: 50%;
}

.four-sixths {
  width: 66.66667%;
}

.five-sixths {
  width: 83.33333%;
}

/* Eighths */
.one-eighth {
  width: 12.5%;
}

.two-eighths {
  width: 25%;
}

.three-eighths {
  width: 37.5%;
}

.four-eighths {
  width: 50%;
}

.five-eighths {
  width: 62.5%;
}

.six-eighths {
  width: 75%;
}

.seven-eighths {
  width: 87.5%;
}

/* Tenths */
.one-tenth {
  width: 10%;
}

.two-tenths {
  width: 20%;
}

.three-tenths {
  width: 30%;
}

.four-tenths {
  width: 40%;
}

.five-tenths {
  width: 50%;
}

.six-tenths {
  width: 60%;
}

.seven-tenths {
  width: 70%;
}

.eight-tenths {
  width: 80%;
}

.nine-tenths {
  width: 90%;
}

/* Twelfths */
.one-twelfth {
  width: 8.33333%;
}

.two-twelfths {
  width: 16.66667%;
}

.three-twelfths {
  width: 25%;
}

.four-twelfths {
  width: 33.33333%;
}

.five-twelfths {
  width: 41.66667%;
}

.six-twelfths {
  width: 50%;
}

.seven-twelfths {
  width: 58.33333%;
}

.eight-twelfths {
  width: 66.66667%;
}

.nine-twelfths {
  width: 75%;
}

.ten-twelfths {
  width: 83.33333%;
}

.eleven-twelfths {
  width: 91.66667%;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.content-left {
  justify-content: flex-start !important;
}
.content-center {
  justify-content: center !important;
}
.content-right {
  justify-content: flex-end !important;
}

.align-top {
  align-items: flex-start !important;
}
.align-center {
  align-items: center !important;
}
.align-bottom {
  align-items: flex-end !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}
